@import "fonts";


body{
    background: black
    ;
    font-family: BriosoPro Italic;
    span {
        color: red;
    }
}

@media (max-width: 768px)
{
    span {font-size: 400px;}

}

@media (max-width: 768px){
   body  {background: white;}
}


